
# card name to plugin so mapping:


card_manager:
  {
    # base address for I2C ROM:
    eeprom_base_i2c_address = 0x50;

    # card id to plugins-
    # this really ought to be decoupled from the server.
    # naming convention:
    #   key: "*" followed by the 8-bit ROM Id
    #   value: plugin base-name, less ".plugin.so"
    plugin_ids =
      {
        *1 = "audio_out";
        *2 = "z3340";
        *3 = "z3372";
      };


  };


zalsa:
  {
    # all devices will be configured the same
    #devices = [ "hw:CARD=UAC2Gadget,DEV=0", "hw:CARD=UAC2Gadget_1,DEV=0" ];
    devices = [ "hw:CARD=UAC2Gadget,DEV=0" ];
    
    period_size = 32;
    buffer_size = 64;

    # these are hardcoded/queried:
    #format = "SND_PCM_FORMAT_S16_LE"; hardcoded
    #channels = 24; <-- channels queried, maximum taken
    #sampling_rate = 4000; <-- sampling rate queried, minimum taken
  };


zmidi:
  {
    device = "hw:2,0";
  };
